.container {
    width: 80%;
    margin: 24px auto;
}
.cards{
    grid-template-columns: 1fr ;
    display: grid;
}   
.card {
    background-color: white;
    padding: 16px;
    border-radius: 5px;
    margin: 16px 23px;
    text-align: center;
    box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 40%);
    height: 400px;
    max-width: 300px;

}
.card:hover {
    background-color: #DCCDAE;
    padding: 16px;
    border-radius: 5px;
    margin: 16px 23px;
    text-align: center;
    box-shadow: 1px 1px 20px 12px rgb(0 0 0 / 60%);
    height: 400px;
    max-width: 300px;
    color: white;
}

.card img:hover{
  text-replace: 0.4s;
  transform: scale(1.1);
}

.card-btn{
    text-decoration: none;
}

@media (min-width: 576px) {
    .cards{
            grid-template-columns: 1fr;
    }
    .banner{
        height: 30vh;
    }
}
@media (min-width: 768px) {
    .cards{
            grid-template-columns: 1fr 1fr;
    }
    .banner{
    height: 60vh;
    }
    .inscrivez-nous {
          width: 80vh;
    }
}
@media (min-width: 992px) {
    .cards{
            grid-template-columns: 1fr 1fr 1fr;
    }
    .banner{
    height: 80vh;
    }
}
@media (min-width: 1200px) { 
    .cards{
            grid-template-columns: 1fr 1fr 1fr;
    }
    .banner{
    height: 60vh;
    }
}
@media (min-width: 1400px) {
    .cards{
            grid-template-columns: 1fr 1fr 1fr;
    }
    .banner{
    height: 60vh;
    }
}

#carouselExampleIndicators{
    width: 100vw;
}